# first, add conda-forge to channel using:
# conda config --add channels conda-forge

# when in directory with conda_requirements.txt file, use:
# conda create --name <env_name> --file conda_requirements.txt

# next, activate the environment (eg. select interpreter via Visual Studio Code UI or manually via CLI)

# attrs
cartopy
cerberus
# certifi
# click
# click
# cligj
colorama
# contourpy
# cycler
fiona
# fonttools
gdal # >= 3.12.4
# ipython
# ipywidgets
# jedi
# js2py
# jupyterlab_widgets
kiwisolver
matplotlib
# matplotlib
numpy
# packaging
# parso
# pillow
# pyparsing
pyproj
# pyshp
python
# pyyaml
requests
shapely
# six
# tzdata